@import "styles/_common.scss";

.percent {
  position: absolute;
  top: 60px;
  left: 60px;
  transform: translate(-50%, -50%);
  @include media("TB") {
    top: 58px;
    left: 36px;
    font-size: 12px;
  }
}
