@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;600;700&family=Noto+Sans:ital,wght@0,600;0,700;1,400&display=swap");

html,
body {
  font-family: "Noto Sans", "Noto Sans TC", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

g,
path {
  &:focus {
    outline: none !important;
  }
}
